/*************************************************************************************************/
/* PAANEL INTERACTIVO */
/*************************************************************************************************/
.iteractive-panel{
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color:lightgray;
    border: thin black solid;
    border-radius: 0.2em;
    padding: 0.5em;
}
.title-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 6;
    grid-row: 1;
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    border-bottom: thin gray solid;
}
.button-panel{
    grid-column: 1 / 6;
    grid-row: 2 / 11;
    overflow-y: scroll;
    max-height: 150em;
    padding-top: 0.5em;
    
 }
.view-panel{
    background-color: white;
    grid-column: 6 / 13;
    grid-row: 1 / 11;
    border:thick black solid;
    max-height: 20em;
    min-height: 5em;
    padding: 2.2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;

}
.description-panel{
    border: thin black solid;
    grid-column: 1 / 6;
    grid-row: 11 / 17;
    padding: 1em;
    background-color: rgba(255,255,255,0.7);
    margin-right: 0.25em;
    font-size: 0.9em;
    max-height: 15em;
}
.code-panel{
    border: thin black solid;
    grid-column: 6 / 13;
    grid-row: 11 / 17;
    padding: 1em;
    background-color: rgba(255,255,255,0.7);
    margin-left: 0.25em;
    font-size: 0.9em;
    overflow-y: scroll;
    max-height: 15em;
}
.item-button{
    text-align: left;
    width: 98%;
    margin: 0.1em 0;
    height: 4em;
}
/*************************************************************************************************/
/* PROPIEDADES GRID */
/*************************************************************************************************/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container-center {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 20.5em;
  }
.grid-container-inline {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color:white;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }
  .row-gap{
    row-gap: 1em;
  }
  .column-gap{
    column-gap: 1em;
  }
  .gap{
    gap: 1em 3em;
  }